<!DOCTYPE html>

<html>

    <head>
        <title>{{pageTitle}}</title>
    </head>

    <body>
        <h1>Welcome to help section</h1>

        <p>This is the description of help section</p>

        {{> footer}}
    </body>

</html>
